a.dropdown-toggle, .dropdown-menu > a, .dataTables_empty, a.dropdown-item{
    cursor:pointer;
}

.dt-bootstrap{
    /*border: 1px solid gray;*/
    padding: 5px;
    height: 360px;
}

.red {
    color: red;
}

.green{
    color : green;
}

.white{
    color: white;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 80px;
    height: 24px;
    display: inline-block;
    margin-top: 5px;
}

div.dataTables_info{
    margin-top: -6px;
}

td{
    height: 0px;
    padding: -2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

li.active{
    background-color:#e2e6ea;
}

.navbar{
    padding: 1px;
}

.nav-item:hover, .dropdown-item:hover{
    background-color:#e2e6ea;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

.page-link{
    width: 35px;
    text-align: center;
    padding: 3px;
    font-size: 15px;
    height: 30px;
}

.disabled{
    cursor: not-allowed;
}

ol.breadcrumb{
    height: 30px;
    margin-top: 0px;
    padding-top: 5px;
    font-size: 15px;
}

.ms-select {
    position: relative;
}

.ms-select select {
    width: 100%;
}

.ms-over-select {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ms-checkboxes {
    display: none;
    border: 1px #dadada solid;
    background-color: white;
    position : absolute;
    z-index: 10;
    width: 95%;
}

.ms-checkboxes label {
    display: block;
    padding-left: 5px;
    font-size:.875rem;
}

.ms-checkboxes label:hover {
    background-color: #1e90ff;
    color : white;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
    text-align: left;
}