a.dropdown-toggle, .dropdown-menu > a, .dataTables_empty{
    cursor:pointer;
}
.dt-bootstrap{
    /*border: 1px solid gray;*/
    padding: 5px;
    height: 360px;
}

.red {
    color: red;
}

.green{
    color : green;
}

.white{
    color: white;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 77px;
  height: 24px;
  display: inline-block;
}

div.dataTables_info{
    margin-top: -6px;
}

td{
    height: 0px;
    padding: -2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

li.active{
    background-color:#e2e6ea;
}

.navbar{
    padding: 1px;
}

.nav-item:hover, .dropdown-item:hover{
    background-color:#e2e6ea;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}